body {
  background-color: #0f0f19;
  color: white;
  font-family: Tahoma, sans-serif;
}

.verticalLine {
  border-left: 5px white;
  height: 100%;
  position: absolute;
  left: 50%;
}

.split {
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttonFull {
  width: 100%;
  background-color: #0e35b3;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.buttonFull:hover {
  background-color: #426bf0;
}

.buttonHollow {
  width: 100%;
  background-color: #426bf000;
  border: 2px;
  border-style: solid;
  border-color: #0e35b3;
  border-radius: 6px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.buttonHollow:hover {
  background-color: #426bf0ff;
  border-color: #426bf0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 10px 10px;
  margin: none;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.movieRecommendations {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.movie td div {
  width: 192px;
  margin: 16px;
  height: 288px;
  align-content: center;
  background-color: white;
  text-align: center;
  color: black;
}

.header {
  margin: 32px;
}
